*
{
	font-family: 'Prompt', sans-serif;
    transition: 0.5s;
}
body {
    background-color: #F9DCC4;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div.box{

    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}
div.box > div{
    padding: 0px;
    margin: 10px;
    background-size: contain;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.16),
    0px 1px 5px 0px rgba(0,0,0,0.23);
}

img.propic {
    width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 10px;
	object-fit: cover;
	object-position: top;
	padding: 0px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.16),
    0px 1px 5px 0px rgba(0,0,0,0.23);
}
div.propic {
    padding: 0px;
    background-color: #FFB5A7;
    width: 120px;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    order: -1;
    flex-grow: 0;

}
div.profile {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
div.profile >p{
    padding: 0;
    margin: 0;
}
p.nametext {
    font-size: 20px;
    font-weight: 500;
}
div.header {
        background-color: #F8EDEB;
}
div.content{
    background-color: #F8EDEB;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.contentHeader{
    background-color: #FFB5A7;
    background-size: contain;
    border-radius: 20px 20px 0px 0px;
    padding: 0px 15px;
}
div.contentHeader >p{
    font-size: 20px;
    font-weight: 500;
}
div.register{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
}
div.inputgroup > p{
    padding: 0px;
    margin: 0px;
}
div.inputgroup > input{
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10),
    0px 1px 2px 0px rgba(0,0,0,0.15);
    border: none;
}
div.inputgroup > input:hover{
    border: #000 1px solid;
}
div.inputgroup > input:active {
    border: #FEC89A 4px solid;
}
div.inputgroup {
    min-width: 150px;
    flex-grow: 1;
    margin: 15px;
}
div.ign >input{
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10),
    0px 1px 2px 0px rgba(0,0,0,0.15);
    border: none;
}
div.ign {
    width: 100%;
    padding: 0px 15px 0px 15px;
}
div.disclamer > p{
    font-size: 14px;
}
button.submit {
                outline: 0;
                cursor: pointer;
                border: none;
                padding: 0 56px;
                height: 45px;
                line-height: 45px;
                border-radius: 7px;
                background-color: #FEC89A;
                color: black;
                font-weight: 500;
                font-size: 16px;
                box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10),
                0px 1px 2px 0px rgba(0,0,0,0.15);  
}
button.submit:hover{
                background: #FFB5A7;
}
div.footer{
    background-color: #000;
    background-size: cover;
}
div.footer >p{
    
    font-size: 15px;
    font-weight: 200;
    color: #F8EDEB;
    margin: auto;
    padding: 15px;
}
